._*
.~lock.*
.buildpath
.DS_Store
.idea
.idea/
.project
.settings
composer.lock
vendor/bin
uploads/*

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/
/var/
/vendor/
/README.md
/composer.lock
###< symfony/framework-bundle ###
