<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Адреса:</h6>
                <div class="d-flex align-items-center">
                    <p class="contact-ico"><i class="fa fa-building" aria-hidden="true"></i></p>
                    <p class="text-justify">
                        м. Бровари, вул. Сергія Москаленка, 25 <br>(зліва від ТЦ Форум), 1-й поверх, офіс 114
                    </p>
                </div>


                <h6>Телефон:</h6>
                <div class="d-flex align-items-center">
                    <p class="contact-ico"><i class="fa fa-phone" aria-hidden="true"></i></p>
                    <ul class="footer-links">
                        <li>+38 096 0522339</li>
                        <li>+38 066 1260718</li>
                        <li>+38 063 1201735</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2537.492668815116!2d30.827718411945682!3d50.50639933356978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0LwuINCR0YDQvtCy0LDRgNC4LCDQstGD0LsuINCh0LXRgNCz0ZbRjyDQnNC-0YHQutCw0LvQtdC90LrQsCwgMjU!5e0!3m2!1sru!2sua!4v1595961802559!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">{{ "now"|date("Y") }} &copy; Avon</p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li>
                        <a class="youtube" href="https://www.youtube.com/channel/UCJmSQ8bWY5U10rJcg10YI6w" target="_blank">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </li>
                    <li>
                        <a class="instagram" href="https://www.instagram.com/p/BWzH0TvnMVB/" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>